body {
    font-family: "Comic Sans MS";
    margin:0;
    padding: 0;
}

header {
    background-color: #5680E9;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    border-bottom: 5px black dashed;
}

#product-title {
    margin-left: 5%;
    float: left;
}

#controller {
    margin-right: 3.5%;
    float: right;
    vertical-align: center;
    transform: translate(0, 100%);
}

#productList {
    display: inline-block;
    background-color: #84CEEB;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    padding-bottom: 20px;
}

.checkbox {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}

.item {
    position: relative;
    margin-left: 4%;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: #5AB9EA;
    display: inline-block;
    width: 20%;
    font-size: 12px;
}

.item:hover {
    transform: scale(1.2);
    cursor: pointer;
    border-radius: 0;
    transition: all 0.5;
}

#addItem {
    border: 1px solid black;
    text-decoration: none;
    display: inline-block;
    background-color: #C1C8E4;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

#addItem:hover {
    transform: scale(1.2);
    cursor: pointer;
}


