body {
    font-family: "Comic Sans MS";
    margin:0;
    padding: 0;
}

header {
    background-color: #5680E9;
    display: block;
    width: 90%;
    padding: 0;
    margin-left: 5%;
    border-bottom: 5px black dashed;
}

#inputs {
    margin-left: 5%;
}

#addButton {
    font-size: 36px;
    font-family: "Comic Sans MS";
    position: absolute;
    right: 5%;
    top: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border: 1px solid black;
}

#addButton:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

#product-title {
    margin-left: 5%;
    font-size: 36px;
    display: inline-block;
    font-weight: 700;
}

#typePlace {
    border-radius: 10px;
    background-color: #8860D0;
    width: 200px;
    height: 400px;
    height: auto;
    display: block;
    padding: 10px;
}
